dist: xenial
sudo: false
cache: pip
language: python
python:
  - 3.8
stages:
  - lint
  - docs
  - test
env:
  global:
    - RPY2_CFFI_MODE=ABI
before_install:
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E298A3A825C0D65DFD57CBB651716619E084DAB9
  - sudo add-apt-repository 'deb [arch=amd64,i386] https://cran.rstudio.com/bin/linux/ubuntu xenial/'
  - sudo apt-get update
  - sudo apt-get install r-base
addons:
  apt:
    sources:
      - sourceline: 'deb [arch=amd64,i386] https://cran.rstudio.com/bin/linux/ubuntu xenial/'
    update: true
    packages:
      - r-base
jobs:
  include:
    # lint stage
    - stage: lint
      env: TOXENV=manifest
    - env: TOXENV=flake8
    - env: TOXENV=pyroma
    # docs stage
    - stage: docs
      env: TOXENV=doc8
    - env: TOXENV=docs
    # test stage
    - stage: test
      env: TOXENV=py
install:
- pip install --upgrade pip
- pip install tox
- pip install codecov
- pip install coverage
script:
- tox
after_success:
- tox -e coverage-report
- codecov

